@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--Playfair);
}

div#layout {
  text-align: center;
}

div#container {
  width: 1000px;
  height: 620px;
  margin: auto;
  background-color: #fbf8f3;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #acc8d4;
}

text {
  font-size: 12px;
  fill: #4a4a4a;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.title-subtitle {
  font-size: 15px;
  padding-bottom: 2rem;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}
